<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ults | my design</title>
    <!-- style -->
    <link rel="stylesheet" href="/ults/static/css/style.css">
    <!-- codepen dropdown -->
    <link rel="stylesheet" href="/ults/static/css/codependrop.css">
    <!-- side bar -->
    <link rel="stylesheet" href="/ults/static/css/sidebar.css">
    <!-- boostrap -->
    <link rel="stylesheet" href="/ults/static/css/boostrap.min.css">
    <!-- mouse icon -->
    <link rel="stylesheet" href="/ults/static/css/mouse_button.css">
    <!-- google icon -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- ogcp -->
    <!-- <link rel="stylesheet" href="/ults/static/css/ogcp.css"> -->
    <!-- ogcp2 -->
    <!-- <link rel="stylesheet" href="/ults/static/css/ogcp2.css"> -->
    <!-- playbtton -->
    <link rel="stylesheet" href="/ults/static/css/plybttn.css">
    <!-- footer  -->
    <link rel="stylesheet" href="/ults/static/css/footer-4.css">
    <!-- Libraries -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <!-- boostrao icon -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"> -->
    <!-- section 2 -->
    <link rel="stylesheet" href="/ults/static/css/section2.css">
    <!-- grids -->
    <link rel="stylesheet" href="/ults/static/css/grids.css">

    <!-- scroll top button -->
    <script src="/ults/static/js/scrolltop.js"></script>
    <link rel="stylesheet" href="/ults/static/css/scrolltop.css">
</head>

<body>


    <a href="#team-bg-1">
        <div class=' back-to-top ' id='back-to-top' title=''><i class='fa fa-chevron-up'></i></div>
    </a>

    <div id="full_container" class="full_container">





        <!-- navbar start -->
        <nav id="team-bg-1" class="navbar navbar_bg z-3 z-3 container-fluid navbar-expand position-absolute">
            <div class="container ">
                <a class="navbar-brand" href="#"><img src="/ults/static/images/header_ults_logo.svg"
                        class="img-fluid navbar_img" alt=""></a>
                <!-- <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon menu_icon "></span>
                </button> -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item nav_item">


                            <ul class="codep_ul">
                                <li>
                                    <a class="nav-link nav_light  dropdown-toggle" href="#0">Services</a>
                                    <ul>
                                        <li><a href="#0">Mobile App Development</a></li>
                                        <li><a href="#0">Web Design</a></li>
                                        <li><a href="#0">Print Design</a></li>
                                    </ul>
                                </li>
                            </ul>


                        </li>

                        <li class="nav-item nav_item">
                            <a class="nav-link nav_light" style="color: #ffffff;" aria-current="page" target="_blank"
                                href="index.html">Home</a>
                        </li>
                        <li class="nav-item nav_item">
                            <a class="nav-link nav_light" style="color: #ffffff;" aria-current="page" target="_blank"
                                href="contact.html">Contact Us</a>
                        </li>

                        <li class="nav-item nav_item">
                            <a class="nav-link nav_light" style="color: #ffffff;" aria-current="page" target="_blank"
                                href="blog.html">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav_light" style="color: #ffffff;" aria-current="page" href="#">
                                <span class="material-symbols-outlined" onclick="openNav()">sort</span></a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!-- navbar end -->





        <!-- mouse start-->
        <a href="#cardsmousebttn">
            <span _ngcontent-iid-c12="" class="scroll-btn">
                <span _ngcontent-iid-c12="" class="mouse">
                    <span _ngcontent-iid-c12="">
                    </span>
                </span>
            </span>
        </a>
        <!-- mouse end -->

        <!-- hero img start -->
        <!-- <div class="hero_img_dv ">
            <div class="blur">

            </div>
            <img src="/ults/static/images/home_hero.jpg" class="hero_img " alt="">
            <div class="hero_img_cuntent  position-absolute top-50 start-50 translate-middle">
                <p class=" baner_text fw-bold">Transforming Businesses with
                    Next-Gen Digital Solutions</p>
            </div>
        </div> -->
        <!-- hero img end -->










        <style>
           
            .card_img_css {
                background-image: url(/ults/static/images/home_hero.jpg);
                margin: 0px 0px 0px -15px;
                background-size: cover;
                background-position: center;
                height: 100vh;
                width: 100vw;
                position: relative;
                /* background-color: #303030; */
                opacity: 6789869;



            }

            /* @media screen and (max-width: 1440px) {
                .card_img_css {
                    height: 100vh;
                    width: auto;
                }
            } */


            

            .card-img-overlay {
                background: #00000090;
                opacity: 1;
                position: absolute;
                /* height: 100%;
                width: 100%; */

            }
        </style>




        <!-- boxshado peoples start -->
        <div class="container-fluid boxshadow_section">

            <div class="cards_people">
                <div class="text-bg-dark">
                    <div class="card_img_css">
                        <div class="card-img-overlay">
                            <div class="hero_img_cuntent  position-absolute top-50 start-50 translate-middle">
                                <p class=" baner_text fw-bold">Transforming Businesses with
                                    Next-Gen Digital Solutions</p>
                            </div>
                        </div>
                    </div>
                    <!-- <img src="##/ults/static/images/people/people_culture_fun_hero.jpg" class="card-img card_img" alt="..."> -->
                </div>

            </div>
        </div>



        <!-- side bar start -->
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="people.html">People</a>
            <a href="contact.html">Contact Us</a>
            <a href="blog.html">Blog</a>
            <a href="project.html">Projects</a>
        </div>
        <!-- side bar end -->




    </div>

    <!-- start -->
    <div id="full_container" class="full_container">





        <!-- my second section start -->
        <!-- <div class="second_section">
            <div class="container">
                <div class="main_heading">
                    <h1 class="fw-bold col-lg-10 baner_text_2">Solutions and Services through Disruptive Technologies
                    </h1>
                    <div class="d-flex  mt-5">
                        <div class="col-lg-6 mt-5">
                            <div class="mt-5" style="max-width: 600px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <div _ngcontent-eob-c11="" class="service-item-img ">
                                            <img _ngcontent-eob-c11="" alt="ults-service icon" class="service-icon"
                                                src="/ults/static/images/home_services_gis.svg">
                                        </div>
                                    </div>
                                    <div class="col-md-7 ">
                                        <div class="card-body ">
                                            <h5 class="card_text">Card title</h5>
                                            <p class="card_text fw-lighter card-text">This is a wider card with
                                                supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                            <p class="card-text READ_MORE">READ MORE</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5" style="max-width: 600px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <div _ngcontent-eob-c11="" class="service-item-img ">
                                            <img _ngcontent-eob-c11="" alt="ults-service icon" class="service-icon"
                                                src="/ults/static/images/home_services_gis.svg">
                                        </div>
                                    </div>
                                    <div class="col-md-7 ">
                                        <div class="card-body ">
                                            <h5 class="card_text">Card title</h5>
                                            <p class="card_text fw-lighter card-text">This is a wider card with
                                                supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                            <p class="card-text READ_MORE">READ MORE</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mt-5">
                            <div class="mt-5" style="max-width: 600px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <div _ngcontent-eob-c11="" class="service-item-img ">
                                            <img _ngcontent-eob-c11="" alt="ults-service icon" class="service-icon"
                                                src="/ults/static/images/home_services_gis.svg">
                                        </div>
                                    </div>
                                    <div class="col-md-7 ">
                                        <div class="card-body ">
                                            <h5 class="card_text">Card title</h5>
                                            <p class="card_text fw-lighter card-text">This is a wider card with
                                                supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                            <p class="card-text READ_MORE">READ MORE</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5" style="max-width: 600px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <div _ngcontent-eob-c11="" class="service-item-img ">
                                            <img _ngcontent-eob-c11="" alt="ults-service icon" class="service-icon"
                                                src="/ults/static/images/home_services_gis.svg">
                                        </div>
                                    </div>
                                    <div class="col-md-7 ">
                                        <div class="card-body ">
                                            <h5 class="card_text">Card title</h5>
                                            <p class="card_text fw-lighter card-text">This is a wider card with
                                                supporting text below as a
                                                natural lead-in to additional content. This content is a little bit
                                                longer.</p>
                                            <p class="card-text READ_MORE">READ MORE</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- my second section end -->



        <!-- my second section start -->

        <section id="cardsmousebttn" class="grid_section">
            <div class="container">
                <div class="grid_heading_div">
                    <div class="grid_heading col-lg-8">
                        <h1>
                            Solutions and Services through Disruptive Technologies
                        </h1>
                    </div>
                    <dir class="grid_container">
                        <div class="mt-5">
                            <div class="row g-0">
                                <div class="col-md-4 col-lg-2">
                                    <div class="service-item-img ">
                                        <img alt="ults-service icon" class="service-icon"
                                            src="/ults/static/images/home_services_gis.svg">
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-9 ">
                                    <div class="card-body ">
                                        <h5 class="card_text_heading">Geographical Information System
                                        </h5>
                                        <p class="card_text mt-3 card-text">Enterprise GIS is a Geographical
                                            Information System integrating geographic data across multiple departments
                                            to
                                            manage, share, and use related spacial data.</p>
                                        <p class="card-text READ_MORE">READ MORE</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5">
                            <div class="row g-0">
                                <div class="col-md-4 col-lg-2">
                                    <div class="service-item-img ">
                                        <img alt="ults-service icon" class="service-icon"
                                            src="/ults/static/images/home_services_gis.svg">
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-9 ">
                                    <div class="card-body ">
                                        <h5 class="card_text_heading">Geographical Information System</h5>
                                        <p class="card_text  mt-3 card-text">Enterprise GIS is a Geographical
                                            Information System integrating geographic data across multiple departments
                                            to
                                            manage, share, and use related spacial data.</p>
                                        <p class="card-text READ_MORE">READ MORE</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5">
                            <div class="row g-0">
                                <div class="col-md-4 col-lg-2">
                                    <div class="service-item-img ">
                                        <img alt="ults-service icon" class="service-icon"
                                            src="/ults/static/images/home_services_gis.svg">
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-9 ">
                                    <div class="card-body ">
                                        <h5 class="card_text_heading">Geographical Information System</h5>
                                        <p class="card_text  mt-3 card-text">Enterprise GIS is a Geographical
                                            Information System integrating geographic data across multiple departments
                                            to
                                            manage, share, and use related spacial data.</p>
                                        <p class="card-text READ_MORE">READ MORE</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5">
                            <div class="row g-0">
                                <div class="col-md-4 col-lg-2">
                                    <div class="service-item-img ">
                                        <img alt="ults-service icon" class="service-icon"
                                            src="/ults/static/images/home_services_gis.svg">
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-9 ">
                                    <div class="card-body ">
                                        <h5 class="card_text_heading">Geographical Information System</h5>
                                        <p class="card_text mt-3 card-text">Enterprise GIS is a Geographical
                                            Information System integrating geographic data across multiple departments
                                            to
                                            manage, share, and use related spacial data.</p>
                                        <p class="card-text READ_MORE">READ MORE</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </dir>
                </div>
            </div>
        </section>
        <!-- my second section end -->





        <!-- <div>
            <section class="project section flex-row" fxlayout="row wrap" fxlayout.xs="column"
                fxlayoutalign="center center"
                style="flex-flow: row wrap; box-sizing: border-box; display: flex; place-content: center; align-items: center;">
                <div class="slideanim slide" fxflex.lg="96%" fxflex.md="100%" fxflex.sm="100%" fxflex.xl="66%"
                    fxflex.xs="100%" fxlayout="row wrap" fxlayout.xs="column" fxlayoutalign="center center"
                    style="flex-flow: row wrap; box-sizing: border-box; display: flex; place-content: center; align-items: center; flex: 1 1 66%; max-width: 66%;">
                    <div class="pr-30 lax  project-image-container" data-lax-preset="linger-100" fxflex.lg="44%"
                        fxflex.md="44%" fxflex.sm="100%" fxflex.xl="33%" fxflex.xs="100%"
                        style="flex: 1 1 33%; box-sizing: border-box; max-width: 33%;">
                        <img alt="ults-project" class="img-fluid project-image" src="/ults/static/images/home_projects.jpg">
                    </div>
                    <div class="project-bubble-r lax pading-15 " data-lax-preset="linger-50" fxflex.lg="43%"
                        fxflex.md="43%" fxflex.sm="100%" fxflex.xl="33%" fxflex.xs="100%"
                        style="flex: 1 1 33%; box-sizing: border-box; max-width: 33%;">
                        <h2>We Help Our Clients Perform Better</h2>
                        <p> See how we have helped our clients from different industries to become
                            smarter and agile </p>
                        <div class="button-action "><button type="button" class="btn btn-warning">Warning</button></div>
                    </div>
                </div>
            </section>
        </div> -->


        <!-- <section class="section_2 text-center">
            <div class="container text-center">
                <div class="container text-center">
                    <div class="container text-center d-flex">
                        <div class="col-lg-6">
                            <img class="img_master" src="/ults/static/images/home_projects.jpg" alt="">
                        </div>
                        <div class="col-lg-6">
                            <div class="body_2">
                                <h1>We Help Our Clients Perform Better</h1>
                                <p>See how we have helped our clients from different industries to become smarter and
                                    agile</p>
                                <button>view project</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

        <!-- section 2 start -->
        <!-- <section class="section_2 mx-auto">
            <div class="container">
                <div class="img_ctnt_row row align-items-center">
                    <div class="col-lg-3">
                        <div class="col-lg-10">
                            <img class="img-fluid img_master" src="/ults/static/images/home_projects.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="body_2">
                            <h1 class="fw-bold baner_text_2 mb-3">We Help Our Clients Perform Better</h1>
                            <p class="mt-3 perograph_masterimg">See how we have helped our clients from different
                                industries to become smarter and
                                agile</p>
                            <button type="button" class="btn mt-3 btn-warning">Warning</button>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- section 2 end -->


        <!-- section 2 start -->

        <section class="new_test position-relative">
            <div class="container">
                <div class="container">
                    <div class="row position_absolute position-absolute top-50 start-50 translate-middle">
                        <div class="col col-lg-6 col-md-12 col-sm-12">
                            <img class=" img_fluid float-end" src="/ults/static/images/home_projects.jpg" alt="">
                        </div>
                        <div class="col col-lg-6 col-md-12 col-sm-12">
                            <h1 class="mb-3 Perform_Better">We Help Our Clients Perform Better</h1>
                            <p class="mt-lg-3 Perform_Better_p">See how we have helped our clients from different
                                industries to become smarter and
                                agile</p>
                            <button type="button" class=" mt-lg-3 view_project">view project</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section 2 end -->


        <!-- section 3 start -->
        <!-- <section class="section_3">
            <div class="container">
                <div class="img_ctnt_row row grid_centering">
                    <div class="col-lg-3 ">
                        <div class="body_2">
                            <h1 class="fw-bold baner_text_2 mb-3">We Help Our Clients Perform Better</h1>
                            <p class="mt-3 perograph_masterimg">See how we have helped our clients from different
                                industries to become smarter and
                                agile</p>
                            <button type="button" class="btn mt-3 btn-warning">Warning</button>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="col-lg-10">
                            <img class="img-fluid img_master" src="/ults/static/images/home_projects.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- section 3 end -->
        <!-- section 3 start -->
        <section class="new_test_3 position-relative">
            <div class="container">
                <div class="container">
                    <div
                        class="row flex_row_reverse position_absolute position-absolute top-50 start-50 translate-middle">
                        <div class="col col-lg-6 col-md-12 col-sm-12">
                            <img class=" img_fluid float-end" src="/ults/static/images/home_projects.jpg" alt="">
                        </div>
                        <div class="col col-lg-6 col-md-12 col-sm-12">
                            <h1 class="mb-3 Perform_Better">We Help Our Clients Perform Better</h1>
                            <p class="mt-lg-3 Perform_Better_p">See how we have helped our clients from different
                                industries to become smarter and
                                agile</p>
                            <button type="button" class=" mt-lg-3 view_project">view project</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section 3 end -->




        <!-- section 4 start -->
        <section class="section_4">
            <div class="container-fluid blur_2">
                <div class="img_ctnt_row  row grid_centering">
                    <div class="col-lg-4">
                        <div class="body_2">
                            <h1 class="fw-bold baner_text_3 mb-3">We are UL Family</h1>
                            <p class="mt-3 fs-5 fw-normal perograph_masterimg_2">Working at UL Technology Solutions is
                                more than just a
                                job. We enjoy coming to work each day and we feel proud that we make a difference in the
                                lives of people through technology-led innovation</p>
                            <button type="button" class="btn mt-3 btn-warning">Warning</button>
                        </div>
                    </div>
                    <div class="col-lg-3 position-relative">
                        <div class="col-lg-10">
                            <a href="" class="intro-banner-vdo-play-btn pinkBg" target="_blank">
                                <i class="glyphicon glyphicon-play whiteText" aria-hidden="true"></i>
                                <span class="ripple pinkBg"></span>
                                <span class="ripple pinkBg"></span>
                                <span class="ripple pinkBg"></span>
                                <span class="ripple pinkBg"></span>
                                <span class="ripple pinkBg"></span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- section 4 end -->



        <!-- section 3 start -->
        <section class="section_5 container-fluid position-relative">
            <div class="container section_5_container text-center position-absolute top-50 start-50 translate-middle">
                <div class=" ">
                    <h1 class="Conversation fw-bold">UL Conversation</h1>
                </div>
                <div class="row text-start row-cols-1 mt-lg-3 row-cols-md-3 g-4">
                    <div class="col">
                        <div class="h-100">
                            <img src="/ults/static/images/1666333543blog_cloud_transformation.jpg" class="card-img-top"
                                alt="...">
                            <div class="card-body mt-3">
                                <p class="fs-5 fw-lighter">ULTS on Nov 30</p>
                                <p class="card-text card_text_bttm fs-5 mt-1">TEmerging trends in video surveillance
                                    technology</p>
                            </div>
                            <p class="card-text mt-2 READ_MORE">READ MORE</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="h-100">
                            <img src="/ults/static/images/1666333543blog_cloud_transformation.jpg" class="card-img-top"
                                alt="...">
                            <div class="card-body mt-3">
                                <p class="fs-5 fw-lighter">ULTS on Nov 30</p>
                                <p class="card-text card_text_bttm fs-5 mt-1">TEmerging trends in video surveillance
                                    technology</p>
                            </div>
                            <p class="card-text mt-2 READ_MORE">READ MORE</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="h-100">
                            <img src="/ults/static/images/1666333543blog_cloud_transformation.jpg" class="card-img-top"
                                alt="...">
                            <div class="card-body mt-3">
                                <p class="fs-5 fw-lighter">ULTS on Nov 30</p>
                                <p class="card-text card_text_bttm fs-5 mt-1">TEmerging trends in video surveillance
                                    technology</p>
                            </div>
                            <p class="card-text mt-2 READ_MORE">READ MORE</p>
                        </div>
                    </div>
                </div>
                <div class=" ">
                    <!-- <h1 class="Conversation mt-lg-5 text-center fw-bold">UL Conversation</h1> -->
                    <button type="button" class="btn btn-warning mt-lg-5 READ_OUR_BLOG">READ OUR BLOG</button>
                </div>
            </div>
        </section>
        <!-- section 3 end -->










        <section class="section_6">
            <div class="container-fluid blur_2">
                <div class="img_ctnt_row text-center row grid_centering">
                    <div class="col-lg-5">
                        <div class="body_2">
                            <h1 class="fw-bold baner_text_3 mb-3">Find Your Next Job at ULTS</h1>
                            <p class="mt-3 fs-5 fw-normal perograph_masterimg_2">We are a leader in disruptive
                                technologies. When you join us you get a meaningful career path and an opportunity to do
                                innovative work.</p>
                            <button type="button" class="btn mt-3 btn-warning">Warning</button>
                        </div>
                    </div>

                </div>
            </div>

        </section>

    </div>
    <!-- end -->



    <!-- footer start -->
    <div class="footer_section">
        <!--code pen Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="footer-links">
                            <h3>Useful Links</h3>
                            <a href="">Lorem ipsum</a>
                            <a href="">tempus posuere </a>
                            <a href="">velit id accumsan</a>
                            <a href="">ut porttitor</a>
                            <a href="">Nam pretium</a>
                            <a href="">accumsan</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="footer-about">
                            <div class="footer-links">
                                <h3>Useful Links</h3>
                                <a href="">Lorem ipsum</a>
                                <a href="">tempus posuere </a>
                                <a href="">velit id accumsan</a>
                                <a href="">ut porttitor</a>
                                <!-- <a href="">Nam pretium</a>
                                <a href="">accumsan</a> -->
                            </div>
                            <!-- <div class="footer-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="footer-contact">
                            <h3>Get In Touch</h3>
                            <p>
                                Lorem ipsum dolor sit amet elit. Quisque eu lectus a leo dictum nec non quam. Tortor eu
                                placerat
                                rhoncus, lorem quam iaculis felis, sed lacus neque id eros
                            </p>
                            <p>contact@ults.in | 994680****</p>
                        </div>
                        <div class="footer-social">
                            <h2 class="Useful_Links">Useful Links</h2>

                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <!-- <a href=""><i class="bi bi-linkedin"></i></a> -->
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <!-- <a href=""><i class="bi bi-facebook"></i></a> -->
                            <a href=""><i class="fab fa-twitter"></i></a>

                            <a href="https://wa.me/919946803234"><i class="fab fa-whatsapp"></i></a>
                            <!-- <a href=""><i class="bi bi-twitter"></i></a> -->
                            <!-- <a href=""><i class="fab fa-youtube"></i></a> -->
                            <!-- <a href=""><i class="fab fa-instagram"></i></a> -->
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-lg-4">
                        <div class="footer-links">
                            <h3>Useful Links</h3>
                            <a href="">Lorem ipsum</a>
                            <a href="">tempus posuere </a>
                            <a href="">velit id accumsan</a>
                            <a href="">ut porttitor</a>
                            <a href="">Nam pretium</a>
                            <a href="">accumsan</a>
                        </div>
                    </div> -->
                    <!-- <div class="col-md-6 col-lg-3">
                        <div class="footer-project">
                            <h3>Latest Projects</h3>
                            <a href=""><img src="img/img-1.jpg" alt="Image"></a>
                            <a href=""><img src="img/img-2.jpg" alt="Image"></a>
                            <a href=""><img src="img/img-3.jpg" alt="Image"></a>
                            <a href=""><img src="img/img-4.jpg" alt="Image"></a>
                            <a href=""><img src="img/img-5.jpg" alt="Image"></a>
                            <a href=""><img src="img/img-6.jpg" alt="Image"></a>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- <div class="container footer-newsletter">
                <p>
                    Lorem ipsum dolor sit amet elit. Quisque eu lectus a leo dictum nec non quam. Tortor eu placerat
                    rhoncus, lorem quam iaculis felis, sed lacus neque id eros
                </p>
                <div class="row form">
                    <div class="col-sm-4">
                        <input class="form-control" placeholder="Your Name">
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" placeholder="Your Email">
                    </div>
                    <div class="col-sm-4">
                        <button class="btn">Subscribe</button>
                    </div>
                </div>
            </div> -->

            <div class="copyright">
                <div class="container">
                    <hr class="border-light opacity-50">
                </div>
                <div class="container mt-5">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="copy-text">
                                <img class="footer_ulccs_logo" src="/ults/static/images/footer_ulccs_logo.svg" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="Copyright">Copyright © UL Technology Solutions (Private) Ltd. All Rights Reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- code pen Footer End -->
    </div>
    <!-- footer end -->
















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <!-- side bar  -->
    <script src="/ults/static/js/sidebar.js"></script>
</body>

</html>