<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nrtflix</title>
    <link rel="stylesheet" href="/netflix/static/css/netflix.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>

<body>


    <div id="fullbody">
        <div id="topfullbg"
            style="background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/afc06103-4d6a-4236-b496-34b671a7e9ba/383fc36a-aa04-4dfd-95a0-a4b71bc21eed/IN-en-20221003-popsignuptwoweeks-perspective_alpha_website_small.jpg);">
            <div id="blur">
                
            </div>
            <nav class="navbar">
                <div class="container-fluid">



                    <ul class="navbar-nav me-auto mb-2">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5500/netflix.html"
                                target="_blank"><img
                                    src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c529.png" alt=""
                                    width="150" height="100" class="img-fluid"></a>
                        </li>

                    </ul>
                    <div class="dropdown me-2">
                        <button class="btn btn-outline-dark dropdown" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            language
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item active" href="#">English</a></li>
                            <li><a class="dropdown-item" href="#">हिन्दी</a></li>
                        </ul>
                    </div>


                    <button type="button" class="btn btn-success">Sing In..</button>

                </div>
        </div>
        </nav>
        <section class="section_2">
            <div class="container">
                <div class="col-12 text-light position-absolute top-50 start-50 translate-middle text-center">
                    <h1 id="h1tv" class="fw-bold">Unlimited movies, TV <br> shows and more.</h1>
                    <h3 id="h3encel">Watch anywhere. Cancel anytime.</h3>
                    <p id="pready">Ready to watch? Enter your email to create or restart your membership.</p>
                    <div class="input-group mb-3 w-50 mx-auto">
                        <input type="text" class="form-control" placeholder="Enter Email"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button id="btn" class="btn btn-outline-secondary text-light" type="button"
                            id="button-addon2">Get Start</button>
                    </div>

                </div>

            </div>
        </section>


        <div id="hrdiv"></div>


        <div id="coll16" class="row g-0 position-relative">

            <div class=" text-light col-md-6 p-5 my-auto ms- ">
                <h2 class="">Enjoy on your TV.</h2>
                <p class="">Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.
                </p>
            </div>
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" class="w-100"
                    alt="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png">
            </div>
        </div>
        <div id="hrdiv"></div>


        <div id="coll16" class="row g-0 position-relative">

            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg"
                    class="w-100"
                    alt="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg">
            </div>

            <div class=" text-light col-md-6 p-4 ps-md-0 my-auto  ">
                <h2 class="">Download your shows to watch offline.</h2>
                <p class="">Save your favourites easily and always have something to watch
                </p>
            </div>

        </div>
        <div id="hrdiv"></div>


        <div id="coll16" class="row g-0 position-relative">

            <div class=" text-light col-md-6 p-4 ps-md-5 my-auto  ">
                <h2 class="">Watch everywhere.</h2>
                <p class="">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.
                </p>
            </div>
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile-in.png"
                    class="w-100"
                    alt="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile-in.png">
            </div>
        </div>

        <div id="hrdiv"></div>


        <div id="coll16" class="row g-0 position-relative">

            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="https://occ-0-4822-3663.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABYjXrxZKtrzxQRVQNn2aIByoomnlbXmJ-uBy7du8a5Si3xqIsgerTlwJZG1vMpqer2kvcILy0UJQnjfRUQ5cEr7gQlYqXfxUg7bz.png?r=420"
                    class="w-100"
                    alt="https://occ-0-4822-3663.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABYjXrxZKtrzxQRVQNn2aIByoomnlbXmJ-uBy7du8a5Si3xqIsgerTlwJZG1vMpqer2kvcILy0UJQnjfRUQ5cEr7gQlYqXfxUg7bz.png?r=420">
            </div>

            <div class=" text-light col-md-6 p-4 ps-md-0 my-auto">
                <h2 class="">Create profiles for children.</h2>
                <p class="">Send children on adventures with their favourite characters in a space made just for
                    them—free with your membership.
                </p>
            </div>

        </div>


        <div class="accordion w-50 mx-auto" id="accordion-Example">

            <h1 class="text-light text-center">Frequently Asked Questions</h1>

            <div class="accordion-item mt-3 text-light bg-dark">
                <h1 class="accordion-header" id="headingOne">
                    <button class="accordion-button text-light bg-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        What is Netflix?
                    </button>
                </h1>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordion-Example">
                    <div class="accordion-body">
                        Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies,
                        anime, documentaries and more – on thousands of internet-connected devices.
                        <br><br>
                        You can watch as much as you want, whenever you want, without a single ad – all for one low
                        monthly price. There's always something new to discover, and new TV shows and movies are added
                        every week!
                    </div>
                </div>
            </div>
            <div class="accordion-item mt-3 text-light bg-dark">
                <h1 class="accordion-header" id="headingTwo">
                    <button class="accordion-button text-light bg-dark collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        How much does Netflix cost?
                    </button>
                </h1>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordion-Example">
                    <div class="accordion-body">
                        Watch Netflix on your smartphone, tablet, Smart TV, laptop, or streaming device, all for one
                        fixed monthly fee. Plans range from ₹ 149 to ₹ 649 a month. No extra costs, no contracts.
                    </div>
                </div>
            </div>
            <div class="accordion-item mt-3 text-light bg-dark">
                <h1 class="accordion-header" id="headingThree">
                    <button class="accordion-button text-light bg-dark collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                        Where can I watch?
                    </button>
                </h1>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordion-Example">
                    <div class="accordion-body">
                        Watch anywhere, anytime. Sign in with your Netflix account to watch instantly on the web at
                        netflix.com from your personal computer or on any internet-connected device that offers the
                        Netflix app, including smart TVs, smartphones, tablets, streaming media players and game
                        consoles.
                        <br><br>
                        You can also download your favourite shows with the iOS, Android, or Windows 10 app. Use
                        downloads to watch while you're on the go and without an internet connection. Take Netflix with
                        you anywhere.
                    </div>
                </div>
            </div>
            <div class="accordion-item mt-3 text-light bg-dark">
                <h1 class="accordion-header" id="heading4">
                    <button class="accordion-button text-light bg-dark collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false"
                        aria-controls="collapse4">
                        How do I cancel?
                    </button>
                </h1>
                <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                    data-bs-parent="#accordion-Example">
                    <div class="accordion-body">
                        Netflix is flexible. There are no annoying contracts and no commitments. You can easily cancel
                        your account online in two clicks. There are no cancellation fees – start or stop your account
                        anytime.
                    </div>
                </div>
            </div>
            <div class="accordion-item mt-3 text-light bg-dark">
                <h1 class="accordion-header" id="heading5">
                    <button class="accordion-button text-light bg-dark collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false"
                        aria-controls="collapse5">
                        What can I watch on Netflix?
                    </button>
                </h1>
                <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                    data-bs-parent="#accordion-Example">
                    <div class="accordion-body">
                        Netflix has an extensive library of feature films, documentaries, TV shows, anime, award-winning
                        Netflix originals, and more. Watch as much as you want, anytime you want.
                    </div>
                </div>
            </div>
            <div class="accordion-item mt-3 text-light bg-dark">
                <h1 class="accordion-header" id="heading6">
                    <button class="accordion-button text-light bg-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        Is Netflix good for kids?
                    </button>
                </h1>
                <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                    data-bs-parent="#accordion-Example">
                    <div class="accordion-body">
                        The Netflix Kids experience is included in your membership to give parents control while kids
                        enjoy family-friendly TV shows and films in their own space.
                        <br><br>
                        Kids profiles come with PIN-protected parental controls that let you restrict the maturity
                        rating of content kids can watch and block specific titles you don’t want kids to see.
                    </div>
                </div>
            </div>
        </div>
        <br>

        <p class="text-light text-center mt-5">Ready to watch? Enter your email to create or restart your membership.
        </p>
        <div class="input-group mb-3 w-50 mx-auto">
            <input type="text" class="form-control" placeholder="Enter Email" aria-label="Recipient's username"
                aria-describedby="button-addon2">
            <button id="btn" class="btn btn-outline-secondary text-light" type="button" id="button-addon2">Get
                Start</button>
        </div>

        <br><br>

        <div id="hrdiv"></div>
        <p id="questions" class="mt-5 ms-5">Questions? Call 000-800-040-1843</p>
        <div class="container">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5">
                <div class="col mb-3">
                </div>
                <div class="col mb-3 mt-0">

                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQ</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Investor Relations</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Speed Test</a></li>
                        <li class="nav-item mb-2">
                            <div class="dropdown">
                                <button class="btn btn-outline-dark dropdown" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    language
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item active" href="#">English</a></li>
                                    <li><a class="dropdown-item" href="#">हिन्दी</a></li>
                                </ul>
                            </div>
                        </li>
                        <li id="Netflix-India" class="nav-item mb-2">Netflix India</li>
                    </ul>
                </div>

                <div class="col mb-3 mt-0">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Help Centre</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Jobs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Cookie Preferences</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Legal Notices</a></li>

                    </ul>
                </div>

                <div class="col mb-3 mt-0">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Account</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Ways to Watch</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Corporate Information</a>
                        </li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Only on Netflix</a></li>

                    </ul>
                </div>
                <div class="col mb-3 mt-0">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Media Centre</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Terms of Use</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact Us</a></li>
                    </ul>
                </div>
            </footer>
        </div>









    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>

</html>