/* .home-banner[_ngcontent-iid-c12] {
    background: url(/assets/images/home_hero.jpg) 50% 50%/cover;
    max-width: 100%;
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
    position: relative
} */

/* @media (min-width:85.4375em) {
    .home-banner[_ngcontent-iid-c12] {
        min-height: 50vh
    }
} */

/* .home-banner[_ngcontent-iid-c12] h4[_ngcontent-iid-c12] {
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    position: relative;
    z-index: 999
} */

/* .home-banner[_ngcontent-iid-c12] .overlay-banner[_ngcontent-iid-c12] {
    margin-right: 30px;
    background: #000;
    opacity: .6;
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: all .4s ease-in-out 0s
} */

/* .home-banner[_ngcontent-iid-c12] .banner-button[_ngcontent-iid-c12] {
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    font-family: Montserrat, sans-serif
} */

/* .home-banner[_ngcontent-iid-c12] .banner-item[_ngcontent-iid-c12] .heading-2[_ngcontent-iid-c12] {
    font-size: 3.125rem;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    color: #fff;
    position: relative;
    text-align: center
} */

/* .home-banner[_ngcontent-iid-c12] .banner-item[_ngcontent-iid-c12] .heading-2[_ngcontent-iid-c12] .home-banner-content-br[_ngcontent-iid-c12] {
    display: block
} */

/* @media (max-width:47.9375em) {
    .home-banner[_ngcontent-iid-c12] {
        align-items: flex-start !important;
        height: auto
    }

    .home-banner[_ngcontent-iid-c12] .overlay-banner[_ngcontent-iid-c12] {
        height: auto
    }

    .home-banner[_ngcontent-iid-c12] .banner-button[_ngcontent-iid-c12] {
        font-size: .935rem;
        padding: 0
    }

    .home-banner[_ngcontent-iid-c12] .banner-item[_ngcontent-iid-c12] {
        padding-top: 0
    }

    .home-banner[_ngcontent-iid-c12] .banner-item[_ngcontent-iid-c12] .heading-2[_ngcontent-iid-c12] span[_ngcontent-iid-c12] {
        display: block
    }

    .home-banner[_ngcontent-iid-c12] .banner-item[_ngcontent-iid-c12] .heading-2[_ngcontent-iid-c12] .home-banner-content-br[_ngcontent-iid-c12] {
        display: inline !important
    }
} */

/* .home-banner[_ngcontent-iid-c12] .banner-item-content[_ngcontent-iid-c12] .page-scroll[_ngcontent-iid-c12] {
    cursor: pointer
} */

/* @media (max-width:61.9375em) {
    .home-banner[_ngcontent-iid-c12] {
        min-height: 75vh
    }

    .home-banner[_ngcontent-iid-c12] h4[_ngcontent-iid-c12] {
        padding-left: 17px;
        margin-top: 20px
    }

    .home-banner[_ngcontent-iid-c12] .banner[_ngcontent-iid-c12] {
        min-height: auto
    }

    .home-banner[_ngcontent-iid-c12] .banner-item[_ngcontent-iid-c12] .heading-2[_ngcontent-iid-c12] {
        font-size: 1.5625rem;
        line-height: 2rem;
        padding: 30px 20px 50px
    }

    .home-banner[_ngcontent-iid-c12] .banner-item-content[_ngcontent-iid-c12] {
        order: 2
    }

    .home-banner[_ngcontent-iid-c12] .banner-item-content[_ngcontent-iid-c12] h2[_ngcontent-iid-c12] {
        padding-left: 17px;
        margin-top: 50px
    }
} */
/* 
.home-banner[_ngcontent-iid-c12] .banner-item-content[_ngcontent-iid-c12] h3[_ngcontent-iid-c12] {
    margin-top: 90px;
    position: relative;
    z-index: 999;
    color: #fff;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 42px
} */

/* @media (max-width:61.9375em) {
    .home-banner[_ngcontent-iid-c12] .banner-item-content[_ngcontent-iid-c12] h3[_ngcontent-iid-c12] {
        margin-top: 10px;
        padding-left: 17px;
        padding-bottom: 30px;
        font-size: 1.5rem
    }
} */

/* @-webkit-keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%
    }

    15% {
        opacity: 1;
        top: 50%
    }

    50% {
        opacity: 0;
        top: 50%
    }

    100% {
        opacity: 0;
        top: 29%
    }
}

@keyframes ani-mouse {
    0% {
        opacity: 1;
        top: 29%
    }

    15% {
        opacity: 1;
        top: 50%
    }

    50% {
        opacity: 0;
        top: 50%
    }

    100% {
        opacity: 0;
        top: 29%
    }
}
 */


.scroll-btn[_ngcontent-iid-c12] {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    text-align: center;
    z-index: 99999;
    animation: 2s infinite arrow;
    -webkit-animation: 2s infinite arrow
}

@media (max-width:586px) {
    .scroll-btn[_ngcontent-iid-c12] {

        bottom: 267px;
    }
}


.scroll-btn[_ngcontent-iid-c12]>*[_ngcontent-iid-c12] {
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    -webkit-animation: .6s ease-in-out infinite alternate downarrow
}

.scroll-btn[_ngcontent-iid-c12]>.active[_ngcontent-iid-c12],
.scroll-btn[_ngcontent-iid-c12]>[_ngcontent-iid-c12]:focus,
.scroll-btn[_ngcontent-iid-c12]>[_ngcontent-iid-c12]:hover {
    color: #fff
}

.scroll-btn[_ngcontent-iid-c12]>.active[_ngcontent-iid-c12],
.scroll-btn[_ngcontent-iid-c12]>[_ngcontent-iid-c12]:active,
.scroll-btn[_ngcontent-iid-c12]>[_ngcontent-iid-c12]:focus,
.scroll-btn[_ngcontent-iid-c12]>[_ngcontent-iid-c12]:hover {
    opacity: .8;
    filter: alpha(opacity=80)
}

.scroll-btn[_ngcontent-iid-c12] .mouse[_ngcontent-iid-c12] {
    position: relative;
    display: block;
    width: 21px;
    height: 34px;
    margin: 0 auto 20px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 26px
}

.scroll-btn[_ngcontent-iid-c12] .mouse[_ngcontent-iid-c12]>*[_ngcontent-iid-c12] {
    position: absolute;
    z-index: 99999;
    display: block;
    top: 29%;
    left: 60%;
    width: 5px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #fff;
    border-radius: 34%
}

@keyframes arrow {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }

    80% {
        opacity: 1;
        transform: translateY(50px)
    }

    100% {
        opacity: 0;
        transform: translateY(50px)
    }
}

@-webkit-keyframes arrow {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }

    80% {
        opacity: 1;
        transform: translateY(50px)
    }

    100% {
        opacity: 0;
        transform: translateY(50px)
    }
}