<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>  
    <link rel="stylesheet" href="/static/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />
</head>

<body>
    <!-- header start -->
    <div class="header">
        <div class="header__left">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/768px-Facebook_Logo_%282019%29.png"
                alt="" />
            <div class="header__input">
                <span class="material-icons">
                    search
                </span>
                <input type="text" placeholder="search facebook">
            </div>
        </div>
        <div class="header__middle">
            <div class="header__option active">
                <span class="material-icons">
                    home
                </span>
            </div>
            <div class="header__option">
                <span class="material-icons">
                    flag
                </span>
            </div>
            <div class="header__option">
                <span class="material-icons">
                    subscriptions
                </span>
            </div>
            <div class="header__option">
                <span class="material-icons">
                    storefront
                </span>
            </div>
            <div class="header__option">
                <span class="material-icons">
                    supervised_user_circle
                </span>
            </div>
        </div>
        <div class="header__right">
            <div class="header__info">
                <img class="user__avatar"
                    src="/static/img/Untitled design.png"
                    alt="">
                <h4>lamiiz</h4>
            </div>
            <div>
                <span class="material-icons"> add </span>
                <span class="material-icons"> forum </span>
                <span class="material-icons"> notifications_active </span>
                <span class="material-icons"> expand_more </span>
            </div>
        </div>
    </div>
    <!-- header end -->


    <!-- main body start -->
    <div class="main__body">
        <!-- sidebar start -->
        <div class="sidebar">
            <div class="sidebarRow">
                <img class="user__avatar"
                    src="/static/img/Untitled design.png"
                    alt="">
                <h4>lamiiz</h4>
            </div>
            <div class="sidebarRow">
                <span class="material-icons"> local_hospital </span>
                <h4>covid 19 information center</h4>
            </div>
            <div class="sidebarRow">
                <span class="material-icons"> local_hospital </span>
                <h4>covid 19 information center</h4>
            </div>
            <div class="sidebarRow">
                <span class="material-icons"> local_hospital </span>
                <h4>covid 19 information center</h4>
            </div>
            <div class="sidebarRow">
                <span class="material-icons"> local_hospital </span>
                <h4>covid 19 information center</h4>
            </div>
            <div class="sidebarRow">
                <span class="material-icons"> local_hospital </span>
                <h4>covid 19 information center</h4>
            </div>
            <div class="sidebarRow">
                <span class="material-icons"> local_hospital </span>
                <h4>covid 19 information center</h4>
            </div>
            <div class="sidebarRow">
                <span class="material-icons"> local_hospital </span>
                <h4>covid 19 information center</h4>
            </div>
            <div class="sidebarRow">
                <span class="material-icons"> local_hospital </span>
                <h4>covid 19 information center</h4>
            </div>
        </div>
        <!-- sidebar end -->

        <!-- feed start -->
        <div class="feed">
            <div class="storyReels">
                <style>
                    .story_1{
                        background: url(/static/img/swimming_girl.png) no-repeat;
                        background-size: cover;
                    }
                    .story_2{
                        background: url(/static/img/hotgirl.png) no-repeat;
                        background-size: cover;
                    }
                    .story_3{
                        background: url(/static/img/Untitled\ design\ \(2\).png) no-repeat;
                        background-size: cover;
                    }
                    .story_4{
                        background: url(/static/img/Untitled\ design\ \(1\).png) no-repeat;
                        background-size: cover;
                    }
                    .story_5{
                        background: url(/static/img/Untitled\ design\ \(3\).png) no-repeat;
                        background-size: cover;
                    }
                    
                </style>
                
                <!-- story start -->
                <div class="story story_1">
                    <img class="user__avatar story__avatar" src="/static/img/Untitled design.png" alt="">
                    <h4>lamiiz</h4>
                </div>
                <!-- story end -->
                <!-- story start -->
                <div class="story story_2">
                    <img class="user__avatar story__avatar" src="/static/img/Untitled design.png" alt="">
                    <h4>lamiiz</h4>
                </div>
                <!-- story end -->
                <!-- story start -->
                <div class="story story_3">
                    <img class="user__avatar story__avatar" src="/static/img/Untitled design.png" alt="">
                    <h4>lamiiz</h4>
                </div>
                <!-- story end -->
                <!-- story start -->
                <div class="story story_4">
                    <img class="user__avatar story__avatar" src="/static/img/Untitled design.png" alt="">
                    <h4>lamiiz</h4>
                </div>
                <!-- story end -->
                <!-- story start -->
                <div class="story story_5">
                    <img class="user__avatar story__avatar" src="/static/img/Untitled design.png" alt="">
                    <h4>lamiiz</h4>
                </div>
                <!-- story end -->
            </div>
            <!-- message sender start -->
            <div class="messagesender">
                <div class="messagesender__top">
                    <img class="user__avatar"
                        src="/static/img/Untitled design.png"
                        alt="">
                    <form>
                        <input type="text" class="messagesender__input" placeholder="whats on your maind">
                    </form>
                </div>
                <div class="messagesender__bottom">
                    <div class="messagesender__option">
                        <span style="color: red;" class="material-icons"> videocam </span>
                        <h3>Live</h3>
                    </div>
                    <div class="messagesender__option">
                        <span style="color: green;" class="material-icons"> videocam </span>
                        <h3>Live</h3>
                    </div>
                    <div class="messagesender__option">
                        <span style="color: orange;" class="material-icons"> videocam </span>
                        <h3>Live</h3>
                    </div>
                </div>
            </div>
            <!-- message sender end -->
            <!-- post start -->
            <div class="post">
                <div class="post__top">
                    <img class="user__avatar post__avatar"
                        src="/static/img/Untitled design.png"
                        alt="">
                    <div class="post__topinfo">
                        <h3>lamiiz</h3>
                        <p>28 april 20:30</p>
                    </div>
                </div>
                <div class="post__bottom">
                    <p>message</p>
                </div>
                <div class="post__img">
                    <img src="https://www.pixel4k.com/wp-content/uploads/2018/10/silhouette-smoke-man-hood-4k_1540575218.jpg.webp"
                        alt="">
                </div>
                <div class="post__options">
                    <div class="post__option">
                        <span class="material-icons"> thumb_up </span>
                        <p>Like</p>
                    </div>
                    <div class="post__option">
                        <span class="material-icons"> thumb_up </span>
                        <p>Like</p>
                    </div>
                    <div class="post__option">
                        <span class="material-icons"> thumb_up </span>
                        <p>Like</p>
                    </div>
                </div>
            </div>
            <!-- post end -->
            <!-- post start -->
            <div class="post">
                <div class="post__top">
                    <img class="user__avatar post__avatar"
                        src="/static/img/Untitled design.png"
                        alt="">
                    <div class="post__topinfo">
                        <h3>lamiiz</h3>
                        <p>28 april 20:30</p>
                    </div>
                </div>
                <div class="post__bottom">
                    <p>message</p>
                </div>
                <div class="post__options">
                    <div class="post__option">
                        <span class="material-icons"> thumb_up </span>
                        <p>Like</p>
                    </div>
                    <div class="post__option">
                        <span class="material-icons"> thumb_up </span>
                        <p>Like</p>
                    </div>
                    <div class="post__option">
                        <span class="material-icons"> thumb_up </span>
                        <p>Like</p>
                    </div>
                </div>
            </div>
            <!-- post end -->
            <!-- post start -->
            <div class="post">
                <div class="post__top">
                    <img class="user__avatar post__avatar"
                        src="/static/img/Untitled design.png"
                        alt="">
                    <div class="post__topinfo">
                        <h3>lamiiz</h3>
                        <p>28 april 20:30</p>
                    </div>
                </div>
                <div class="post__bottom">
                    <p>message</p>
                </div>
                <div class="post__img">
                    <img src="https://www.pixel4k.com/wp-content/uploads/2018/10/silhouette-smoke-man-hood-4k_1540575218.jpg.webp"
                        alt="">
                </div>
                <div class="post__options">
                    <div class="post__option">
                        <span class="material-icons"> thumb_up </span>
                        <p>Like</p>
                    </div>
                    <div class="post__option">
                        <span class="material-icons"> thumb_up </span>
                        <p>Like</p>
                    </div>
                    <div class="post__option">
                        <span class="material-icons"> thumb_up </span>
                        <p>Like</p>
                    </div>
                </div>
            </div>
            <!-- post end -->
        </div>
        <!-- feed end -->
        <div style="flex:0.33 ;" class="widgets">
            <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="500"
                data-height="1000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a
                        href="https://www.facebook.com/facebook">Facebook</a></blockquote>
            </div>
        </div>
    </div>
    <!-- main body end -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v15.0"
        nonce="f5nfnLE1"></script>

</body>

</html>